* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

body {
    font-family: "Inter", serif;
    color: #303030;
}

header {
    background-color: #2965f1;
    padding: 23px 0;
}

header span {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    padding: 60px 0;
    height: 100vh;
    background: #fafaff;
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}

.main-text {
    font-size: 18px;
}

.main-image {
    max-width: 715px;
}


.about-section {
    padding: 100px 0;
}

select {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    height: 36px;
    padding: 9px 12px 8px;
    font-size: 16px;
    appearance: none;
    background-image: url("assets/images/Vector.svg");
    background-repeat: no-repeat;
    background-position: right 14px top 50%;
}

.section-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}

.frameworks-list {
    list-style: none url("assets/images/Marker.svg");
    padding: 0 0 0 20px;
}

.books-list {
    padding: 0 0 0 20px;
}

.label {
    /* Стили для подписей чекбоксов */
}

.text-field {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 330px;
    padding: 9px 12px 8px;
    background: rgba(255, 255, 255, 0);
}

.text-field::placeholder {
    color: rgba(48, 48, 48, 0.2);
}

.btn {
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background: #2965f1;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.line {
    margin: 60px 0 60px;
}

table {
    border-collapse: collapse;
    border: 1px solid #95a1bb;
}

th, td {
    padding: 10px 15px;
    font-size: 14px;
}

footer {
    background: rgba(163, 167, 255, 0.3);
    padding: 26px 0;
}

.footer-link {
    font-size: 14px;
    color: #2965f1;
}

.footer-link:visited {
    color: black;
}